<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Electron Angular Webpack Demo App">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Minecraft JS</title>
        <link rel="stylesheet" href="global.scss">
    </head>

	<body>
		<minecraft> </minecraft>
        <router-outlet></router-outlet>
	</body>

</html>