<section class="section-loader">
    <div id="loader" style="visibility: visible;">
        <div id="loading">LOADING</div>
        <div id="origin" class="grass cube">
            <div class="face top"></div>
            <div class="face bottom"></div>
            <div class="face front"></div>
            <div class="face back"></div>
            <div class="face left"></div>
            <div class="face right"></div>
        </div>
    </div>
</section>

<section class="home">
    <div class="home-container">

        <div class="home-top">
            <img id="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Minecraft_logo.svg/1280px-Minecraft_logo.svg.png" width="100%" >
            <span class="subtitle">Javascript !!!</span>
        </div>

        <div class="home-bottom">
            <button [routerLink]="'/game'" class="btn-minecraft first-child">Singleplayer</button>
            <br>
            <button class="btn-minecraft">Multiplayer</button>
            <br>
            <button class="btn-minecraft">Credits</button>
            <br>
            <br>
            <button class="btn-minecraft">Options</button>
            <button class="btn-minecraft">Quit game</button>
        </div>

    </div>
</section>