<section class="home">
    <div class="home-container">

        <div class="home-top">
            <img id="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Minecraft_logo.svg/1280px-Minecraft_logo.svg.png" width="100%" >
            <span class="subtitle">Javascript !!!</span>
        </div>

        <div class="home-bottom">
            <button [routerLink]="'/game'" class="btn-minecraft first-child">Singleplayer</button>
            <br>
            <button class="btn-minecraft">Multiplayer</button>
            <br>
            <button class="btn-minecraft">Credits</button>
            <br>
            <br>
            <button class="btn-minecraft">Options</button>
            <button class="btn-minecraft">Quit game</button>
        </div>

    </div>
</section>